@import "tailwindcss";

:root {
  --primary: #0c2b6a;
  --secondary: #f23455;
  --title: #333333;
  --text: #555555;
  --primary-50: #e7eaf0;
  --primary-100: #ced5e1;
  --primary-200: #9eaac3;
  --primary-300: #6d80a6;
  --primary-400: #3d5588;
  --primary-600: #0a2255;
  --primary-700: #071a40;
  --primary-800: #05112a;
  --primary-900: #020915;
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-title: var(--title);
  --color-text: var(--text);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
}

@layer components {
  .customContainer {
    @apply max-w-5xl w-full;
  }
  .activeLink {
    @apply text-primary border-b-2 border-primary;
  }
}

button {
  cursor: pointer;
}

.section {
  @apply py-20 md:py-32;
}
@media (max-width: 1080px) {
  .customContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@keyframes fade {
  0%,
  25% {
    opacity: 1;
  }
  26%,
  100% {
    opacity: 0;
  }
}
