@import "tailwindcss";

:root {
  --primary: #0070f3;
  --secondary: #1db954;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .customContainer {
    @apply max-w-5xl w-full;
  }
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
}

button {
  cursor: pointer;
}

.section {
  @apply py-20 md:py-32;
}
@media (max-width: 1080px) {
  .customContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@keyframes fade {
  0%,
  25% {
    opacity: 1;
  }
  26%,
  100% {
    opacity: 0;
  }
}
